* {
    box-sizing: border-box;
}

.container {
    width: 1296px;
    margin: 0 auto;
}

body {
    font-family: 'Quicksand' , sans-serif;
}

header {
    display: flex;
    align-items: center;
    padding: 30px 36px;
    justify-content: space-between;
}

.header-logo {
    
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0.02em;
}

.header-logo-link {
    color: #000;
    text-decoration: none;
}

.header-explore {
    padding: 10px 12px;
    
    background-color: #0F8277;
    color: #fff;

    border: none;
    border-radius: 5px;
    outline: none;
}


.header-search-lable {
    display: flex;
    align-items: center;
    border: 1px solid #5C5C5C;
    border-radius: 5px;
    border-right: none;
}

.header-search-lable-field {
    padding: 9px 12px;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 330px;
    /* дав w, бо хз чого не змінюється простір
    placeholder'а, вот. Пробував з padding'ами
    але щось воно не робіт */
}

.header-search-lable-field-svg {
    box-sizing: content-box;
    display: block;
    background-color: #0F8277;
    padding: 9px 10px;
    border-left: 1px solid #5C5C5C;
    border-right: 1px solid #5C5C5C;
    border-radius: 0px 4px 4px 0px;
}

.header-info-block {
    display: flex;
    gap: 48px;
}

.header-info-block-item {
    color: #000;
    text-decoration: none;
   
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.header-reg-log ,
.header-reg-sign {
    text-decoration: none;
}

.header-reg-block {
    display: flex;
    align-items: center;
    gap: 28px;
}

.header-reg-log {
    color: #0F8277;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

.header-reg-sign {
    color: #fff;
    background-color: #0F8277;
    padding: 10px 12px;
    border-radius: 5px ;

    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
}

.hero-section {
    display: flex;
    background-color: #DBF3ED;
    height: 602px;
    border-radius: 20px;
    padding: 39px 54px 30px 110px;
    align-items: center;
    gap: 50px;
}

.hero-section-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 32px   ;
}

.hero-section-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
}

.hero-section-p {
    font-size: 22px;
    font-weight: 600;
    line-height: 26px;
}

.hero-section-link-start {
    background-color: #0F8277;
    padding: 10px 12px;
    border-radius: 5px;
    text-decoration: none;

    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

.hero-section-links {
    display: flex;
    gap: 24px;
}

.hero-section-link-learn {
    color: #0F8277;
    text-decoration: none;
    border: 1px solid #0F8277;
    border-radius: 5px;
    padding: 10px 12px;

    font-size: 16px;
    font-weight: 700;
    line-height: 19px; 
}

.main-training-section {
    padding-top: 80px;
}





.main-training-educational-centers {
    display: flex;
    padding-top: 40px;
    gap: 22px;
}

.main-training-educational-item {
    border: 1px solid #DADADA;
    border-radius: 6px;
    width: 33%;
    position: relative;
}

.main-training-educational-item-picture {
    display: block;
}

.main-training-educational-item-picture-img{
    border-radius: 5px 5px 0px 0px;
}

.main-training-educational-texts {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 16px;
}

.main-training-educational-item-link,
.main-courses-item-link {
    color: #000;
    text-decoration: none;
    display: flex;
    gap: 12px;
    align-items: center;


    font-size: 14px;
    font-weight: 500;
    line-height: 19px;


}

.main-training-educational-title,
.main-courses-item-title {
    color: #000;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;


}

.main-training-educational-title{
    padding-bottom: 40px;
}

/* Тут жоско зафакапився і прийшлось підкручувати через absolute. */

.main-training-educational-diploma {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 50px;
    color: #0F8277;
    text-decoration: none;
    position: absolute;
    bottom: 15px;
}

.main-courses {
    padding-top: 80px;
}

.main-courses-directions {
    display: flex;
    padding-top: 40px;
    gap: 22px;
}

.main-courses-item {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}

.main-courses-item-picture-img {
    border-radius: 7px 7px 0px 0px;
}


.main-courses-item-title {
   
}

.main-courses-texts {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 16px;
}

.main-courses-item-course {
    position: absolute;
    bottom: 15px;
}

.main-courses-footer-button {
    display: flex;
    gap: 10px;
    color: #0F8277;
    align-items: center;
    border: none;
    outline: none;
    background-color: #fff;
    margin: auto;
    margin-top: 40px;

    font-size: 20px;
    font-weight: 700;
    line-height: 24px;


}

.main-topics {
    margin-top: 80px;
}

.main-topics-categories {
    display: flex;
    margin-top: 40px;
    gap: 24px;
    justify-content: space-between;
}


.main-topics-title {

    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.main-topics-item-info-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #0F8277;
    margin-bottom: 10px;
}

.main-topics-item {
    display: flex;
    flex-direction: column;
    gap: 32px   ;
}

.main-topics-item-title {
font-size: 24px;
font-weight: 700;
line-height: 29px;
}

.main-cooperate {
    background-color: #DBF3ED;
    margin-top: 80px;
    padding: 80px 36px;
}

.main-cooperate-title {
  
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;

}

.main-cooperate-companies {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.main-solution {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
}


.main-solution-texts {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 50%;
}

.main-solution-texts-title {    
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.main-solution-texts-p {
font-size: 22px;
font-weight: 600;
line-height: 27px;
}

.main-solution-texts-button {
    background-color: #0F8277;
    color: #fff;
    border: none;
    padding: 10px 12px;
    border-radius: 5px;

    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    width: 25%;
}

.main-solution-texts-button-contains {
    font-family: 'Quicksand' , sans-serif;
}


.main-plan {
    background-color: #DBF3ED;
    padding: 80px 36px 100px;
}

.main-plan-title {
    text-align: center;
    
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    

}

.main-plan-menu {
    display: flex;
    margin-top: 40px;
    justify-content: space-evenly;
}

.main-plan-menu-item {
    border: 1px solid #0F8277;
    border-radius: 24px;
    background-color: #fdfdfd;
}

.main-plan-menu-item-content {
    padding: 56px;
    text-align: center;
}

.main-plan-menu-item-content-special {
    border: 1px solid #0F8277;
    border-radius: 23px;
    background-color: #0F8277;
    color: #fff;
}

.main-plan-menu-item-about {
    display: flex;
    flex-direction: column;
    gap: 27px;
    width: 304px;
}    /* Зроблено, щоб текст перенісся на новий рядок, 
    а то там же ш паддінг у контента, а через
    те, що текст в ондому рядку і він довгий, то
    паддінг збільшується від тексту, а це -вайб */

.main-plan-menu-item-about-title { 
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}

.main-plan-menu-item-about-subtitle {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;

}



.main-plan-menu-item-content-price {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.main-plan-menu-item-content-price-wallet {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-right: 16px;
}

.main-plan-menu-item-content-price-date {
    text-transform: uppercase;
}

.main-plan-menu-item-button {
    background-color: #0F8277;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 12px;
    margin-top: 75px;
    margin-bottom: 48px;
}

.main-plan-menu-item-button-special {
    background-color: #0F8277;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: 10px 12px;
    margin-top: 23px;
    margin-bottom: 48px;
}

.main-plan-menu-item-button-super-special {
    background-color: #0F8277;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 12px;
    margin-top: 46px;
    margin-bottom: 48px;
}
/* Я таку фікню зробив, щоб розділити ці 3 айтема,
бош, який ж гємар. Просто ужас */

/** Якщо ви знаєте, як пофіксити те, що у мене розмір 
svg стає меншими відносно падінга..чи я хз від
чого, мб це ше ширина може бути, то
ПОМОЖІТЬ, БУДЬ ЛАСКА. Бо svg так працювати не 
повинно! **/
.main-plan-menu-item-comment-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: start;

    border-top: 2px solid #0F8277;
    padding-top: 48px ;
    width: 300px;
}

.main-plan-menu-item-comment-section-special {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: start;

    border-top: 2px solid #fff;
    padding-top: 48px ;
    width: 300px;
}

.main-plan-menu-item-comment {
    display: flex;
    gap: 16px;
}



.main-photos {
    margin-top: 80px;
    padding: 80px 36px;
}

.main-photos-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin-bottom: 40px;
}

.main-photos-grid-1 {
    grid-area: a;
}

.main-photos-grid-2 {
    grid-area: s;
}
.main-photos-grid-3 {
    grid-area: d;
}
.main-photos-grid-4 {
    grid-area: f;
}
.main-photos-grid-5 {
    grid-area: g;
}
.main-photos-grid-6 {
    grid-area: h;
}
.main-photos-grid-7 {
    grid-area: j;
}
.main-photos-grid-8 {
    grid-area: k;
}
.main-photos-grid-9 {
    grid-area: l;
}



.main-photos-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "a l l k"
    "s l l j"
    "d f g h";
    gap: 24px   ;
}



.main-contact {
    background-image: url(/images/image\ 32.png);
    background-size: cover;
    padding-top: 65px;
    padding-bottom: 47px;
}

.main-contact-form {
    border-radius: 24px;
    width: 565px;
    padding: 30px;
    margin: 0 auto;
    background-color: #DBF3ED;
}

.main-contact-form-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.main-contact-form-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
}

.main-contact-form-label {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: start;
}

.main-contact-form-field-text {
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
}

.main-contact-form-field {
    outline: none;
    padding: 12px;
    border: 1px solid rgba(15, 130, 119, 1);
    border-radius: 5px;
}

.main-contact-form-field:focus {
    box-shadow: 7px 6px 15px -10px rgba(0,0,0,0.75);
}


textarea {
    resize: none;
    width: 100%;
    height: 100px;
    outline: none;
}

.main-contact-form-button {
    border: none;
    border-radius: 4px;
    background-color: #0F8277;
    padding: 10px 77px;
    color: #fff;

   
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.04em;

    margin-top: 24px;
}

.footer {
    display: flex;
    padding: 64px 0px;
    justify-content: space-between;   
}

.footer-left-side {
    display: flex;
    flex-direction: column;
    gap: 16px   ;
    width: 25%;
}

.footer-left-side-h {
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0.02em;
}


.footer-right-side-links {
    display: flex;
    gap: 24px   ;
}

.footer-right-side {
    width: 50%;
    align-items: end;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

button {
    cursor: pointer;
}

.main-primary-texts {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.primary-color {
    color: #0F8277;
    text-decoration: none;
}

.main-primary-section-title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

